html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    background-color: rgb(241, 241, 232) !important;
}

.Block {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 0.5rem rgb(182, 182, 182));
    border-radius: 5px;
    padding: 20px;
}

.LeftMenu {
    width: 20%;
    min-height: 100vh;/*100vh;*/
}

.FieldLeft {
    width: 30%;
    max-width: 30%;
    min-width: 30%;
}

.dropdown:hover .SelectedItem {
    background-color: rgba(255, 255, 255, 0.25);
}

.show .SelectedItem {
    background-color: rgba(255, 255, 255, 0.25);
}

.SelectedItem {
    background-color: rgba(0, 0, 0, 0.25);
}